* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#top {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #cc7acc;
}

#top button {
  height: 8vw;
  width: 16vw;
  font-size: 400%;
  border: 1px solid black;
  background-color: #fff;
  text-align: center;
}
#bottom {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #cc7acc;
}

#bottom button {
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  font-size: 250%;
  border: 1px solid black;
}

#sound {
  height: 8vw;
  width: 8vw;
  background-color: #20affd;
}

#back {
  height: 8vw;
  width: 8vw;
  background-color: #ea413d;
}
